body {	
	background-color: #ffd4da;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0; 
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	font-family: 'Work Sans', sans-serif;

}
.main {
	background-color: rgba(255,255,255,0.7);
	width: 600px;
	border-radius: 5% 5% 5% 5%;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 0 25px 1px white; 

}
h1 {
	text-align: center;
	text-shadow: 2px 2px 1px grey; 
	font-family: 'Amatic SC', cursive;
	font-weight: lighter;
	}

h3 {
	text-align: left;
	margin-bottom: 0;

}

h3:hover {
	cursor:pointer;
	text-decoration: underline;
}

h1 {
		text-align: center;
		font-size: 50px;
		margin: 0;
}
h2 {
	text-align: center; 
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 5px;
	margin: 0;
	font-family: 'Amatic SC', cursive;
}
img {
  display: block;
  margin: 20px auto;
  border: 10px dotted none;
  border-radius: 15% 15% 15% 15%;

   }
p,
ul,
ol {
	line-height: 1.6;
	list-style: none;
	padding-left: 0;
	text-align: left;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #6f88a5;
	} 
a:hover {
	color: #f94d9b;
	text-decoration: underline;
}	





/* This is a CSS comment */